@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

:root{
    --primary-color: rgb(255, 84, 0);
}

/* Shared tags and classes */
body{
    font-family: "Mulish", sans-serif;
}
section{
    max-width: 1440px;
    margin:  0 auto;
}
.left-title{
    font-size: 2.5rem;
    font-weight: 800;
    color: rgb(19, 19, 24);
    line-height: 30px;
}
.center-title{
    font-size: 2.5rem;
    font-weight: 800;
    text-align: center;
    line-height: 30px;
    color: rgb(19, 19, 24);
}
.left-description{
    color: rgb(90, 90, 93);
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 30px;
}
.center-description{
    color: rgba(19, 19, 24, 0.7);
    font-size: 1.1rem;
    font-weight: 400;
    text-align: center;
}
span{
    color: var(--primary-color);
}
.btn{
    width: 170px;
    height: 50px;
    border: 1px solid rgb(255, 84, 0);
    border-radius: 8px;
    padding: 0 10px;
    color: white;
    background-color: rgb(255, 84, 0);
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: .3s;
}
.btn:hover{
    background-color: white;
    color: rgb(255, 84, 0);
    transition: .3s;
}
.btn i{
    padding-right: 10px;
}
/* Header section starts here */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}
.nav-brands{
    display: flex;
    align-items: center;
    gap: 25px;
}
.nav-links{
    display: flex;
    gap: 50px;
    margin-right: 50px;
}
.nav-item{
    list-style: none;
}
.nav-link{
    color: rgb(66, 66, 71);
    font-size: 1.1rem;
    font-weight: 400;
    text-decoration: none;
}
/* Header section ends here */

/* Banner section starts here */
.banner{
    background-image:linear-gradient(rgba(19, 19, 24, 0.7), rgba(19, 19, 24, 0.1)), url(../images/card-1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 15px;
}
.banner-container{
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
.banner-title{
    color: rgb(255, 255, 255);
    font-size: 4rem;
    font-weight: 800;
    line-height: 20px;
}
.banner-description{
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
}
.banner-form{
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.3);
    padding: 25px;
}
input[type="text"]{
    width: 170px;
    height: 50px;
    margin-right: 10px;
    border: none;
    border-radius: 8px;
    padding: 0 10px;
    color: rgba(19, 19, 24, 0.5);
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}
.banner-form > select{
    width: 170px;
    height: 50px;
    margin-right: 10px;
    border: none;
    border-radius: 8px;
    padding: 0 10px;
    color: rgba(19, 19, 24, 0.5);
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}
.banner-form > input:focus, select:focus{
    outline: none;
}
/* Banner section ends here */

/* Popular section starts here */
.popular{
    display: flex;
    justify-content: space-between;
    margin: 150px 0;

}
.popular-content{
    width: 50%;
}
.popular-title{
    margin-top: 0;
}
/* Popular section ends here */

/* Destination section starts here */
.row-1, .row-2, .row-3{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.row-2{
    grid-template-columns: 0.9fr 1.5fr 0.6fr;
}
.row-3{
    grid-template-columns: 0.8fr 1.2fr;
}
.country-card{
    position: relative;
}
.country-name{
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    transform: translate(-50%, -50%);
    font-size: 28px;
    font-weight: 800;
}
.country-img{
    width: 100%;
    height: 400px;
    filter: brightness(85%);
}
/* Destination section ends here */



/*============== Responsive design starts here================== */

/* For mobile */
@media screen and (max-width:576px) {
    .navbar, .nav-brands, .nav-links{
        flex-direction: column;
        gap: 20px;
        width: 100%;
        text-align: center;
    }
    .nav-brands{
        gap: 0px;
    }
    .banner{
        padding-bottom: 50px;
    }
    .banner-container{
        padding: 20px;
    }
    .banner-title{
        font-size: 2rem;
        line-height: 50px;
        text-align: center;
        margin-bottom: 10px;
    }
    .banner-form{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    input[type="text"]{
        width: 224px;
        margin-bottom: 10px;
    }
    .banner-form > select, .btn{
        width: 244px;
        margin-bottom: 15px;
    }
    .popular{
        flex-direction: column;
        gap: 25px;
    }
    .popular-content{
        width: 100%;
    }
    .popular-img img{
        width: 100%;
    }
    .row-1, .row-2, .row-3{
        grid-template-columns: 1fr;
    }
   
}


/* For tablet */
@media screen and (min-width:576px) and (max-width:992px) {
    .navbar, .nav-brands, .nav-links{
        gap: 20px;
    }
    .navbar, .banner, .popular{
        padding: 0 25px;
    }
    .nav-links{
        margin-right: 10px;
    }
    .banner-form{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 25px;
    }
    .banner-title{
        font-size: 3rem;
        line-height: 50px;
        text-align: center;
        margin-bottom: 10px;
    }
    .banner-form > select, .btn{
        width: 501px;
        margin-bottom: 10px;
    }
    input[type="text"]{
        width: 481px;
        margin-bottom: 15px;
    }
    .popular{
        flex-direction: column;
        gap: 25px;
    }
    .popular-content{
        width: 100%;
    }
    .popular-img img{
        width: 100%;
    }
    .row-1, .row-2, .row-3{
        grid-template-columns: 1fr;
    }
}